#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
    font-family: 'Mali', cursive; 
}
h4,h3, input
{
   font-family: 'Mali', cursive;
}

h2{
    font-family: Swanky and Moo Moo,cursive;
    font-size: 78px;
}


#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(165,168,150);
border-radius: 10px;
border-top: 10px solid #ffffff;
padding: 10px;
float: none;
text-align: left;
}
